!!!
%html
  %head
    %title Hello World!
    %meta{charset: "utf-8"}/
    %meta{content: "chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}/
    %link{href: "https://fonts.googleapis.com/css?family=Droid+Serif:400italic,400,700italic,700|Arbutus+Slab:400", rel: "stylesheet", type: "text/css"}/
    %link{href: "../assets/stylesheets/fonts.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "../assets/stylesheets/base.css", media: "screen", rel: "stylesheet", type: "text/css"}/
    %link{href: "../assets/stylesheets/main.css", media: "screen", rel: "stylesheet", type: "text/css"}/


  %body
    %header.main-title
      %h1 Hello World!
      %h2 This repo contains simple physics simulations
      %a.anchor-nav{href: "../index.html"} < Back to Projects

    .content-wrapper
      .inner.clearfix
        %section
          %p
            Hey there. This repo contains simple and funny physics projects. We will share the solutions as well as the implementations. If you have any suggestions for a simulation or an interesting twist for the exesting ones feel free to
            %a{href: "mailto:physicsandbox@gmail.com?subject=Hey guys!"} email us
